html, body {                                /* line 1 to 13 is to make the footer sticky */
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;   
  }

body {
    background-image: url('./papers.jfif');/* Set a background image for the website */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {                                   /* Set the footer appearance for the website */
    background-color: white;
    padding: 1%;
    border-top-style: solid;
    border-top-color: black;
    border-width: 0.5em;
    text-align: center;
}
.active{                                   /* make the tab chosen from the menu Bolder */
    font-weight: bolder;
}
.name {                                    /* change the font properties of the name in the nav bar */
    font-family: 'Ruthie', cursive;
    font-weight: bold;
    font-size: 40px;
}

.row1 {     
    padding: 1em;
    margin: 2em;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
}

.height5em {
    height: 2em;
}

.rowfixed {
    padding: 1em;
    margin: 1em;
}

.navbar-toggler{
    margin-right: 4%;
}

.fa {                                  /* line 59 to 84 are to make the buttons that link to social media accounts */
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
}
  
.fa:hover {  
    opacity: 0.7;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}  
  
.fa-github {
    background: #2c4762;
    color: white;
}
.btn-primary:defined{color:white;background-color:black;outline:0} /* Line 85 to 104 are to enhance the look of the contact form*/
.btn-primary:focus{color:white;background-color:black;outline:none;box-shadow:0 0 0 .25rem rgba(71, 66, 66, 0.25)}
.btn:hover{border-color: black;}
.btn-primary{background-color:black; border-color: grey;}
.btn-primary:hover{background-color: lightgrey; color: black;}
.btn-primary:active:focus{background-color:black;border-color:black}
.btn-primary:active{background-color:black;border-color:black}
.form-control:focus{color:#212529;background-color:#fff;outline:0;box-shadow:0 0 0 .25rem rgba(71, 66, 66, 0.25)}

input[type=text],input[type=email], textarea[type=textarea],button[type=submit] {
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
input[type=text]:focus,input[type=email]:focus, textarea[type=textarea]:focus, button[type=submit]:focus{
    border: 3px solid #555;
}
  
.list-group-item{text-align: center;}  /* Center the text in the "About Me" */

.social-media{text-align: center; margin-bottom: 1%;margin-top: 1%;}/* Position the buttons linking social media accounts" */

@media only screen and (max-width: 600px) { /* Change some properties on Extra small devices (phones, 600px and down) */
    .col-s-7 { width: 90%; }
    .name { font-size: 30px; }
    .spacing{padding-bottom:20%;}    

}

@media only screen and (max-width: 768px) {   /* Small devices (portrait tablets and large phones) */
    .nav-brdr{
        border-top-style: solid;
        border-top-color: black;
     }
     .navbar-nav{
        background-color:white ;  
        text-align: center;
    }

}
@media only screen and (min-width:768px){  /* Enlarge the profile pic for ipad and  large screen */
    .col-md-3{width:100%;}
}
@media only screen and (min-width: 800px) { /* Medium and Large devices (laptops/desktops, 800px and up) */
    .nav-brdr{
        border-left-style: solid;
        border-left-color: black;
    }
    .navbar-nav{
        position: absolute; right: 6%;
    }
    .col-md-3{width:30%;}

}
